<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Simple Contact List App</title>
<link href="styles/main.css" rel="stylesheet" type="text/css">
<script> src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
<!-- application declaration-->
<script>
    var app = angular.module('app',[])
    .controller('contactListCtr', function($scope){

    })
</script>
<!-- end of application declaration -->
</head>

<body ng-app="app" ng-controller="contactListCtr">

<form>
    <div class="row">
        <div class="small-3 columns">
            <label class="right inline">Name</label>
        </div>
        <div class="small-9 columns">
            <input type="text" id="right-label">
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <label class="right inline">Last Name</label>
        </div>
        <div class="small-9 columns">
            <input type="text" id="right-label" ng-model="lastname">
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <label class="right inline">E-mail</label>
        </div>
        <div class="small-9 columns">
            <input type="email" id="right-label" ng-model="email">
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns"></div>
        <div class="small-9 columns">
            <button class="small button primary">Add</button>
            <button class="small button primary">Save</button>
        </div>
    </div>
</form>

<table id="contactList">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

</body>
</html>
